/*:root {};*/


/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  /*color: white;*/
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#Forecast {background-color: green;}
#SunMoon {background-color: orange;}
#sun-div {background-color: yellow}
#StarMap {background-color: blue;}


.container-wrapper {
  max-width: 500px;
}












/****************************/
/** GLOBAL STYLES */
body {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Livvic', sans-serif;
  font-size: 16px;
}

main {
  background-color: pink;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;  
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 8px;
}

h4 {
  margin: 0;
}

h5 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.large-icon,
#moon-phase {
  font-size: 60px;
}

.small-icon {
  font-size: 30px;
}
/* 
/****************************/
/** HEADER STYLES */

header {
  background-color: deepskyblue;
  padding: 10px;
  margin: 0 -12px;
}

/** SEARCH STYLES */
/**********/
.search {
  background-color: mediumblue;
  margin: 0 -12px;
  padding: 5px;
}

/****************************/
/** WEATHER FORECAST STYLES */


/****************************/
/** SUN & MOON STYLES */

#sun-wrapper,
#moon-wrapper,
#moon-phase-wrapper,
#weather-wrapper,
#visibility-wrapper {
  margin: 10px 0;
  background-color: yellow;
}

/****************************/
/** STAR MAP STYLES */
#map {
  background-color: aqua;
} 