
/** Smartphones **/
@media screen and (min-width: 500px) {

  .container-wrapper {
    max-width: 500px;
  }

  #home,
  #forecast,
  #sun-moon,
  #star-map {
    display: none;
  }
}

/** Tablets **/
@media screen and (min-width: 700px) {

  .container-wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 42% 58%;
    grid-template-rows: 70px auto auto auto;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 14px;
    text-decoration: underline;
  }

  #tab-buttons {
    display: none;
  }

  .tab-content {
    display: none;
    padding: 15px 10px;
  }

  #home,
  #forecast,
  #sun-moon,
  #star-map {
    display: inline-block;
  }

  #home {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
  }

  #forecast {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #sun-moon {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  #star-map {
    grid-column: 2 / 3;
    grid-row: 3 / 6;
  }

  #sun-wrapper,
  #moon-wrapper,
  #weather-wrapper {
    margin: 10px 0 20px;
  }

  #visibility-wrapper {
    margin: 10px 0 5px;
  }

  #moon-phase-wrapper {
    margin: 10px 0;
  }

  #forecast {
    padding: 25px 12px 5px;
  }

  #sun-moon {
    padding: 5px 12px;
  }

  #star-map {
    margin: 10px 0 0 10px; 
  }
}

/** Wider Tablets/Desktop **/
@media screen and (min-width: 800px) {

  h3 {
    font-size: 18px;
    text-decoration: none;
  }
}